<div>
    <div class="form-group">
        <label>Color</label>
        <input type="text" class="form-control widgets-color" placeholder="Enter color">
    </div>
    <div class="form-group">
        <label>Background Color</label>
        <input type="text" class="form-control widgets-background-color" placeholder="Enter background color">
    </div>
    <div class="form-group">
        <label>Font</label>
        <input type="text" class="form-control widgets-font" placeholder="Enter font">
    </div>
    <div class="form-group">
        <label>Items</label>
        <textarea class="form-control widgets-items" rows="4" cols="50"></textarea>
    </div>
</div>