<div class="alert alert-info dialog-status-bar clearfix">
  <span class="dialog-status-bar-loading pull-left" style="display: none;"></span>
  <span class="dialog-status-bar-msg pull-left"></span>
</div>