<tr>
	<td class="col1"><span class="label"><%= col1Text%></span></td>
	<td colspan="3">
		<div class="dim" dimname="<%= dimName%>"></div>
		<div class="pull-right dim-label padding-sm-hr"><%= dimName%></div>
	</td>
</tr>
