<div class="gridContainer">
  <div class="applied-range-filter-cntr">
    <strong>Range Filter: </strong>
    <span class="applied-range-filter"></span>
  </div>
  <div style="clear:both;"></div>
  <div class="range-filter-cntr"> </div>
  <div class="report-grid-cntr"></div>
</div>