<div class="maximize-close-icon">
    <i class="fa fa-times text-danger text-bg"></i>
</div>
<div style="clear:both;"></div>
<div class="maximize-window-actions"></div>
<div style="clear:both;"></div>