<div class="onlywhen-column-container">
<div class="row">
  <div class="onlywhen-column-left col-md-6">
    <p class="onlywhen-column-instruction">
      Select one or more column values from the filter box. This column will only contain values where the filter columns have ALL of the selected values.
    </p>

    <input class="onlywhen-column-name form-control" type="text" name="onlywhen-column-name" />
    <button class="restore-default-name btn btn-sm">Restore Default Name</button>
    <div class="conditionalmetric-filter-container"></div>
    <div class="reusable-checkbox-container">
        <label for="chk-reusable-onlywhen" class="chk-reusable-onlywhen-item checkbox" title="Create this derived column as reusable">
      <input id="chk-reusable-onlywhen" type="checkbox" title="Re-use this column in other reports" class="chk-reusable-onlywhen-item px"></input>
      <span class="lbl">Re-use this column in other reports</label></span>
    </div>
  </div>
  <div class="onlywhen-column-right col-md-6">
    <div class="onlywhen-column-filter"></div>
  </div>
  <div style="clear:both;"></div>
  </div>
</div>