<div class="pivot-table-container">
  
  <div id="configure-pivot-dlg" class="pivot-table-definition" style="display:none;">
    <div class="configure-pivot-dlg-content"> </div>
  </div>

  <div class="pivot-table-renderer">
    
    <div class="pivot-table-container-header">
      <div class="pivot-chart"></div>
      <div id="pivot-table"></div>
    </div>
  </div>


  <div id="maximize-pivot-dlg" style="display:none;">
    <div class="maximized-pivot-dialogs-buttons">  </div>
    <div class="maximized-pivot-container" >
      <div id="maximized-pivot-cntr"> </div>
    </div>
    <div id="configure-pivot-dlg-max" class="pivot-table-definition" style="display:none;">
      <div class="configure-pivot-dlg-content"> </div>
    </div>
    <div class="clear"></div>
  </div>
</div>