<div class="print-settings">
  <div class="print-instraction">
    <p>Please see the print preview before print and if required please adjust the paper margin and scale (e.g. shrink to fit) from browser.</p>
    <p>To see Print Preview please use browser menu.</p>
  </div>
  <div class="print-settings-buttons">
  <button class="btn-close-print-preview">Close</button>
  <button class="btn-print-print-preview">Print</button>
  </div>
</div>