<% can.each(columns, function(column, i) { %>
	<div class="report-filter-element" columnID="<%= column.oid %>" columName="<%= column.title %>" oid="<%= column.oid %>"> </div>        
<% }); %>

<div style="clear: both;"></div>