<table>
	<tbody></tbody>
</table>

<hr class="hr-under-filter"/>
 
<!--<div class="options">
    <div class="option-button show-totals" <% if (showTotals) {%> class="totals-on" <% }%>>TOTALS</div>
	<div style="clear: both"></div>
</div>-->
