 <div class="report-builder">

  <div class="contentcolumn">
      <div class="analytic-report-actions"></div>
      <div class="analytic-report-visualisations"></div>
      <div class="analytic-report-elements">
        <div class="analytic-page-container"></div>
    </div>
  </div>
  
  <div class="report-column">
      <p class="side-bar-title">Select a set of metrics and attributes to add to the report. Select again to remove.</p>   
    <div class="global-column-search">
        <input class="form-control global-column-search-input" type="text" size="25" placeholder="Search column"></input>
      </div>
      <div class="metrics-panel">
      </div>
      <div class="reusable-columns-list-popup" style="display:none;"></div>
      <div class="saved-filter-list-popup" style="display:none;"></div>
      <div class="dimension">
      </div>
      <fieldset style="display: none;" class="fs-diagnostics">
        <legend>Diagnostics: </legend>
        <div class="diagnostics">
          <div class="timing-info"></div>
        </div>
      </fieldset>      
    
  </div>

  <div class="report-filter">
      <div class="attribute-elements"></div>
  </div>

  <div class="report-visualization">
      <div class="attribute-elements"></div>
  </div>

   <div class="report-dashboardList">
     <div class="dashboard-list-container"></div>
   </div>
   
</div>