<div class="view-report-container report-element-bg" style="width: 100%; height: 100%;">
    <div style="display: none; margin: 0 auto;" class="summary">
        <div class="execution-monitor" style="margin: auto; width:100%;">
            <div class="report-execution-detail">
                <div class="small-waitingwheel">
                    <div class="child-middle">
                        <img src="images/loader.gif" class="spinner"/>
                    </div>
                    <!--<div class="execution-message"></div>-->
                    <div class="cancel-btn btn btn-primary child-middle">CANCEL</div>
                    <div class="elapsed-time child-middle"></div>
                </div>
            </div>
            <div class="exception-info"></div>
        </div>
    </div>
    <div class="report-chart" style="display: none;">
        <div class="chart-option"></div>
        <div class="report-chart-cntr">
        </div>
    </div>
    <div class="report-grid" style="display: none;">
        <div class="report-grid-cntr table"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="text-report" style="display: none;">
        <span class="text-report-value"></span>
    </div>
</div>

<div id="maximize-chart-dlg" style="display:none;">
  <div class="maximized-chart-dialogs-buttons">  </div>
  <div class="maximized-chart-container" >
    <div class="maximized-chart-cntr"> </div>
  </div>
  <div class="clear"></div>
</div>

<div id="print-setup-dialog" style="display:none;">
  <div class="print-setup-dialog-body"></div>
</div>


