<div class="row">
  <div class="col-md-3">Dashboard Height:</div>
  <div class="col-md-9">
    <input id="dashboardSize" type="text" class="form-control" value="<%= height%>"></input>
  </div>
</div>
