<div class="saved-filter-editor-container">
  <div class="saved-filter-editor-left">
    <p class="saved-filter-editor-instruction">
      Select one or more filters to define and save a new filter group.
    </p>

    <input class="saved-filter-editor-filter-name" type="text" name="saved-filter-name" />
    <div class="saved-filter-editor-filter-container"></div>
    <div class="reusable-checkbox-container">
      <label for="chk-reusable-saved-filter" class="chk-reusable-saved-filter-item checkbox" title="Create this filter group as reusable">
        <input id="chk-reusable-saved-filter" type="checkbox" title="Re-use this filter group in other reports" class="chk-reusable-saved-filter-item px"></input>
        <span class="lbl">Re-use this filter group in other reports</label>
      </span>
    </div>
    
  </div>
  <div class="saved-filter-editor-right">
    <div class="saved-filter-editor-filters"></div>
  </div>
  <div style="clear:both;"></div>
</div>