<!--<div class="recipient" userid="<%= value%>"><img class="delete-recipient" src="images/smallx12.png"><span class="name"><%= label%></span></div>-->

<div class="recipient" userid="<%= value%>">
  <span class="name text-sm"><%= label%></span>
  <div class="delete-recipient-container">
    <i class="delete-recipient fa fa-times text-danger" />
  </div>
  <div style="clear: both;"></div>
</div>