<div class="sideBarCollapsibleContainer" atitle="<%= panelTitle%>">
  <div class="sideBarCollapsibleContainerTitle">
    <div class="sideBarIndicator text-xs"></div>
    <span><%= panelTitle%></span>
    <div class="sideBarButtonBar"></div>
  </div>
  <div class="sideBarCollapsibleContainerContent" style="display:none;">
  </div>
</div>
