     <div class="range-filter-slidercontainer">
        <div>
            <input class="range-filter-custom-input-left" type="text"/>
            <input class="range-filter-custom-input-right" type="text"/>
        </div>
        <div class="range-filter-slider-element clear"></div>
        <div class="range-filter-slider-element-title text-sm text-center"><%= name%></div>
     </div>
