<ul id="user-options" class="nav navbar-nav pull-right right-navbar-nav sentrana_user_options">

    <!-- for repository selection-->
    <li class="nav-icon-btn nav-icon-btn-info">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="label"><%=dwModel.choices.length%></span>
            <i class="nav-icon fa fa-list-ul"></i>
        </a>
        <ul class="dropdown-menu">
            <% can.each(dwModel.choices, function(repoItem, key) { %>
            <li  <% if(dwModel.attr('selectedID') == repoItem.attr('oid')) {%>class="active"<% }%> ><a class="repository-options-item" style="cursor:pointer" repositoryid="<%= repoItem.attr('oid') %>"><%= repoItem.attr('name') %></a></li>
            <%})%>
        </ul>
    </li>

    <!--for help icon-->
    <li><a class="user-options-item" action="help"><span class="glyphicon glyphicon-question-sign"></span></a></li>
    <!--for logout and change password menu-->
    <li><a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cogs"></span></a>
        <ul class="dropdown-menu">
            <li><a class="user-options-item" style="cursor:pointer" action="changepwd"><span
                            class="glyphicon glyphicon-user"></span> Change Password</a></li>
            <li><a class="user-options-item" style="cursor:pointer" action="logout"><span
                            class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </li>
</ul>