<div class="image-container" style="width: 100%; height: 100%;">
    <div class="row" style="height: 100%">

        <div class="col-md-12" style="height: 100%">
            <div id="dropzonejs-example" class="dropzone-box" style="height: 100%">
                <div class="dz-default dz-message">
                    <i class="fa fa-cloud-upload"></i>
                    Drop files in here<br><span class="dz-text-small">or click to pick manually</span>
                </div>
                <form action="//dummy.html">
                    <div class="fallback">
                        <input name="file" type="file" multiple="" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


