@(sharedObject: String, senderFirstName: String, sender: String, receiver: String, reportName: String, repositoryName: String, messageBody: String, applicationUrl: String)

@objectTitle = @{
    if(sharedObject == "report") {
        "Report Title"
    } else {
        "Booklet Title"
    }
}

@sharedObjectPlural=@{sharedObject + "s"}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @views.html.emails.EmailStyle()
        @views.html.emailTemplates.BIQEmailStyle()
    </head>
    <body>
        @views.html.emails.MailHeader()
        <div class="body-container">
            <p>Hi @receiver,</p>
            <p>@sender has shared the following BIQ @sharedObject with you:</p>
            <table>
                <tr>
                    <td> <span class="title"> @objectTitle </span></td>
                    <td>:</td>
                    <td><span> @reportName </span></td>
                </tr>
                <tr>
                    <td><span class="title"> Repository</span></td>
                    <td>:</td>
                    <td><span>@repositoryName</span></td>
                </tr>
                <tr>
                    <td><span class="title"> Notes</span></td>
                    <td>:</td>
                    <td><span><p class="message">@messageBody</p></span></td>
                </tr>
            </table>

            <p>
            This @sharedObject will appear in your Saved Reports and Booklets page when you login next.
            It will be listed alongside other @sharedObjectPlural you've created.
            @if(sharedObject == "report") { Comments you make on this @sharedObject are visible to @senderFirstName and all other @sharedObject recipients.}
            If @senderFirstName makes any changes to the @sharedObject, you will see them instantly. If you are no longer interested in viewing this report, you may delete it. This action does not remove the original version that @senderFirstName created—it merely removes your access to it.
            </p>

            <p>To view the @sharedObject please click: <span> <a href="@applicationUrl">here</a> </span></p>

            @views.html.emails.MailFooter()
        </div>
    </body>
</html>