<div class="dock-content-sidebar-dockablePanel">
    <div class="dock-content-sidebar-docPanelTitle">
        <div class="dock-content-sidebar-docPanelTitleText">
            <span class="dock-content-sidebar-collapse-icon"><i class="fa fa-angle-down collapse-icon"></i></span>
            <span class="dock-content-sidebar-header-icon"><i class="<%= options.headerIconClass %>"></i></span><%= options.title %>
        </div>
        <div class="dock-content-sidebar-button-wrapper">
            <span class="dock-content-sidebar-close-icon"><i class="fa fa-times"></i></span>
            <span class="dock-content-sidebar-move-icon"><i class="fa fa-hand-o-right move-icon"></i></span>
        </div>
    </div>
    <div class="dock-content-sidebar-scrollable-panel">
    </div>
</div>