<div class="pure-text-wrapper">
    <div class="pure-text-view-container">
        <div class="pure-text-container">
            <div class="pure-text-value"></div>
        </div>
        <div class="pure-text-edit-action-container">
            <button class="pure-text-edit-icon btn btn-xs btn-default btn-outline"><span class="fa fa-pencil"></span></button>
        </div>
    </div>
</div>