	<li class="more-tabs-dropdown">
		<a  class="dropdown-toggle" data-toggle="dropdown"><i class="text-bg fa fa-chevron-circle-down"></i></a>
		<ul class="dropdown-menu" id="more-tab-page-list">
		</ul>
	</li>